*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.menu-container{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: white;
}
.menu {
    width: 1100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    width: auto;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-link-1{
    display: flex;
    margin-right: 10px;
}
.header-link-2{
    display: flex;
    margin-right: 10px;
}
.header-link-3{
    display: flex;
    margin-right: 10px;
}

.header-logo{
    font-size: 24px;
    display: flex;
    align-items:flex-end
    
}

.hero-container{
background-color: #1F2937;
display: flex;
justify-content: space-around;
}

.text-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-left: 150px;
    
}

.image-hero{
    padding-right: 200px;
}

.sign-up-button{
    display: flex;
    border-radius: 6px;
    background-color: #3882f6;
    border: 50px;
    margin-right: 400px;
    height: 25px;
    color: white;
    font-weight: bold;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.subtext {
    font-size: small;
    font-style: normal;
}

.center{
    display: flex;
    justify-content: center;
}

.random-info{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content {
    display: flex;
    justify-content:space-around;
    margin-bottom: 40px;
}

.content-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-wrap: break-word;
}

.center2 {

    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 250px;
    padding-left: 300px;
    padding-right: 300px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
    font-style: oblique;
    flex-direction: column;
}
.citation{
    display: flex;
    justify-content: end;
    font-size: 20px;
    font-weight: bold;
}

.text-center2{
    display: flex;
    justify-content: center;
}

.banner-container{
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #3882f6;
    border-radius: 9px;
}

.banner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
}

.butonulpuliimele{
    background-color: #3882f6;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;

}
.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    padding: 50px;
    background-color: #1F2937;
}
    







